@import "../../scss/mixins";

.review {
  padding: 64px 0 110px;
  color: var(--VERIFIED_BLACK);
  text-align: center;
  line-height: 1 ;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../../img/photo_subscribe.jpg");

  @include tablet {
    padding: 64px 0 140px;
    background-position: center;
  }

  @include desktop {
    padding: 97px 0 126px;
  }

  & > .container {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.review__ava {
  margin: 0 auto;
  width: 96px;
}

.review__text {
  margin: 30px auto 0;
  font-size: 20px;
  font-style: italic;

  @include tablet {
    max-width: 360px;
  }
}

// ------------------ Subscribe ---------------------

.subscribe {
  margin-top: 59px;

  @include tablet {
    margin-top: 56px;
  }

  @include desktop {
    margin-top: unset;
    width: 560px;
  }
}

.subscribe__title {
  font-size: 24px;
  font-weight: 700;
}

.subscribe__subtitle {
  font-size: 14px;
  margin-top: 4px;

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    margin-top: 8px;
  }
}

.subscribe__email {
  margin-top: 22px;
  display: flex;
  height: 48px;
  font-size: 14px;
  line-height: 48px;

  @include tablet {
    margin: 27px auto 0;
    width: 356px;
  }

  @include desktop {
    margin-top: 32px;
    width: 356px;
    font-size: 14px;
  }
}

.subscribe__email-field {
  padding-left: 24px;
  border-radius: 24px 0 0 24px;
  background-color: var(--JUPITER);
  flex-grow: 1;
}

.subscribe__email-submit {
  width: 95px;
  flex-shrink: 1;
  background-color: var(--STRAWBERRY_PINK);
  border-radius: 0 24px 24px 0;
  color: var(--WHITE);
  cursor: pointer;

  @include tablet {
    width: 100px;
  }
}

.footer {
  padding: 43px 0 9px;
  color: var(--WHITEOUT);
  background-color: var(--VERIFIED_BLACK);

  @include tablet {
    padding: 24px 0;
  }

  & > .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--WHITE);
}

.footer__social-img {
  width: auto;
  height: 18px;
}

.footer__copyright {
  margin-top: 40px;
  font-size: 16px;

  @include tablet {
    margin-top: unset;
  }
}
