@import "../../scss/mixins";

.product {
  padding-bottom: 20px;
  display: block;
  text-align: left;
  background-color: var(--PEARL);

  @include tablet {
    flex-basis: 360px;
  }

  & + & {
    margin-top: 16px;

    @include tablet {
      margin-top: unset;
    }
  }
}

.product__image {
  position: relative;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--BOLTGUN_METAL_086);
  opacity: 0;
  transition: opacity .3s;

  .product__image:hover & {
    opacity: 1;
  }

  .touch & {
    display: none;
  }
}

.product__add {
  padding: 12px 12px 8px;
  display: flex;
  align-items: center;
  border: 1px solid var(--WHITE);
  cursor: pointer;
  user-select: none;

  span {
    margin-left: 12px;
    font-size: 14px;
    color: var(--WHITE);
  }

  &:active {
    transform: scale(1.05);
  }
}

.product__add-icon {
  width: 26px;
}

.product__item-text {
  display: block;
  padding: 0 16px;
}

.product__item-title {
  margin-top: 24px;
  font-size: 13px;
  color: var(--BLACK);
  text-transform: uppercase;
}

.product__item-desc {
  margin-top: 12px;
  font-size: 14px;
  color: var(--KNIGHTS_ARMOR);
}

.product__item-price {
  margin-top: 18px;
  font-size: 16px;
  color: var(--STRAWBERRY_PINK);
}
