:root {
  --BLACK: #000;
  --BLACK_04: rgba(0,0,0,.4);
  --BLACK_013: rgba(0,0,0,.13);
  --WHITE: #fff;
  --VENUS_PINK: #F1E4E6;
  --BLACK_OUT: #222;
  --STRAWBERRY_PINK: #F16D7F;
  --COLD_GREY: #9F9F9F;
  --KNIGHTS_ARMOR: #5d5d5d;
  --PEARL: #f8f8f8;
  --POMPELMO: #FF6A6A;
  --PONCEAU: #F26376;
  --VERIFIED_BLACK: #222224;
  --WHITEOUT: #fbfbfb;
  --JUPITER: #e1e1e1;
  --WELDED_IRON: #6f6e6e;
  --BOLTGUN_METAL_086: #3A3838DB;
  --ABALONE: #F8F3F4;
  --DIGITAL: #636363;
  --MERCURY: #EBEBEB;
  --LYNX_WHITE: #f7f7f7;
  --PLASTER: #eaeaea;
  --THE_END_015: #2A2A2A26;
  --THUNDER: #4D4D4D;
  --IRON: #5E5E5E;
  --PINK_PEPPER: #EF5B70;
  --RAINY_GREY: #A4A4A4;
  --SHADOW_MOUNTAIN: #575757;
  --WHITE_CONVOLVULUS: #F5F3F3;
  --HARD_COAL: #656565;
  --PALLADIUM: #B1B1B1;
}
