@import "../../scss/mixins";

$widthDesktopSite: 1140px;
$colorHighlightedItems: #F16D7F;
$colorCommonDarkItems: #222222;

.banner {
  height: 363px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--VENUS_PINK);

  @include tablet {
    justify-content: space-between;
    align-items: stretch;
    height: 369px;
  }

  @include desktop {
    height: auto;
  }
}

.banner__left {
  display: none;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 50%;
    flex-grow: 0;
  }

  @include desktop {
    max-width: 50%;
  }
}

.banner__left-img {
  max-height: 100%;
  height: 100%;
  width: auto;

  @include desktop {
    height: 764px;
  }
}

.banner__text-block {
  position: relative;
  padding-left: 28px;
  line-height: 1.1;

  @include tablet {
    align-self: center;
    margin: 0 auto;
    line-height: 1.35;
  }

  @include desktop {
    margin-right: auto;
    margin-left: 63px;
    padding-left: 28px;
    line-height: 1.25;
  }

  &::before {
    content: "";
    width: 12px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--STRAWBERRY_PINK);
  }
}

.banner__title {
  font-size: 38px;
  font-weight: 900;

  @include tablet {
    font-size: 44px;
  }

  @include desktop {
    font-size: 42px;
  }
}

.banner__subtitle {
  font-size: 20px;
  font-weight: 700;

  @include tablet {
    font-size: 24px;
  }

  @include desktop {
    font-size: 32px;
  }

  span {
    color: var(--STRAWBERRY_PINK);
  }
}

.offers {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 96px;
}

.small_offers {
  display: flex;
  gap: 30px;
}

.sections {
  padding: 64px 0;

  @include tablet {
    padding: 20px 0 154px;
  }

  @include desktop {
    padding: 64px 0 96px;
  }

  & > .container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 343/247;
  background-size: 100%;
  background-position: center;
  transition: background-size .3s;

  @include tablet {
    width: 232px;
    height: 167px;
  }

  @include desktop {
    width: 360px;
    height: 260px;
  }

  & + & {
    margin-top: 32px;

    @include tablet {
      margin-top: unset;
    }
  }

  &:hover {
    background-size: 110%;
  }
}

.section:last-child {
  aspect-ratio: 343/111;

  @include tablet {
    margin-top: 19px;
    width: 100%;
    height: 116px;
  }

  @include desktop {
    height: 180px;
    margin-top: 30px;
  }

  &:hover {
    background-size: 105%;
  }
}

$sections: for_women, for_men, for_kids, for_accesories;

@each $section in $sections {
  .section_#{$section} {
    background-image: url("../..//img/#{$section}.png");
  }
}

.section__text {
  text-align: center;

  @include tablet {
    line-height: 1.4;
  }
}

.section__text1 {
  font-size: 16px;
  color: var(--WHITE);
}

.section__text2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--STRAWBERRY_PINK);
}

.featured {
  padding-bottom: 96px;
  text-align: center;
  line-height: 1.4;

  @include tablet {
    padding-bottom: 64px;
  }

  @include desktop {
    padding-bottom: 95px;
  }
}

.featured__title {
  font-size: 30px;
}

.featured__subtitle {
  font-size: 14px;
  color: var(--COLD_GREY);
}

.featured__product-list {
  margin-top: 64px;

  @include tablet {
    margin-top: 72px;
  }
}

.featured__browse-all {
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  font-size: 16px;
  color: var(--PONCEAU);
  border: 1px solid var(--POMPELMO);
  transition: background-color .3s, color .3s;

  @include tablet {
    margin-top: 32px;
  }

  @include desktop {
    margin-top: 48px;
  }

  &:hover {
    background-color: var(--POMPELMO);
    color: var(--WHITE);
  }
}





.products {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.products_title {
  color: $colorCommonDarkItems;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_text {
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product_items {
  margin-top: 48px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  min-height: 587px;
  background-color: #F8F8F8;
}

.item_img {
  max-height: 420px;
  position: relative;
  transition: 0.9s;
}

.hover_img {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(58, 56, 56);
  opacity: 0;
  transition: 0.5s;
}

.hover_button {
  width: 50%;
  position: absolute;
  z-index: 2;
  top: 180px;
  left: 25%;
  transition: 0.7s;
}

.add_to_cart_btn {
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border: #FFF 1px solid;
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 1s;
}

.item_img:hover .hover_img {
  opacity: 0.86;
}

.item_img:hover .add_to_cart_btn {
  display: flex;
}

.add_to_cart_btn:hover {
  background-color: $colorHighlightedItems;
}

.item_text {
  display: flex;
  flex-wrap: wrap;
  height: 161px;
  padding: 24px 28.8px 20px 17px;
}

.item_title {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12.65px;
}

.item_description {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 18px;
}

.item_price {
  color: $colorHighlightedItems;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.spec_item {
  background-color: #F7E4E2;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.spec_pic {
  max-height: 95%;
}

.browse_button {
  padding: 1rem 2rem;
  border: $colorHighlightedItems 1px solid;
  color: $colorHighlightedItems;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.5s
}

.browse_button:hover {
  background-color: $colorHighlightedItems;
  color: #FFFFFF;
}

.features {
  height: 341px;
  background-color: $colorCommonDarkItems;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.feature {
  max-width: 360px;
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.feature_icon path {
  fill: $colorHighlightedItems
}

.feature_title {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feature_description {
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .top_brand {
    display: flex;
    margin-bottom: 19px;
  }

  .top_brand_img {
    width: 49%;
    justify-content: center;
  }

  .top_brand_pic {
    object-fit: contain;
    width: 100%
  }

  .top_brand_title {
    width: 49%;
  }

  .tb_large {
    font-size: 44px;
  }

  .tb_small {
    font-size: 24px;
  }

  .offers {
    padding: 0 3%;
    gap: 19px;
    margin-bottom: 154px;
  }

  .small_offers {
    gap: 19px;
  }

  .offer {
    min-height: 167px;
  }

  .offer__accesories {
    min-height: 116px;
  }

  .products {
    margin-bottom: 79px;
  }

  .product_items {
    padding: 0 3%;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 72px;
  }

  .item {
    max-width: 360px;
  }

  .features {
    flex-direction: column;
    height: 610px;
    justify-content: space-evenly;
  }

}

@media (min-width: 320px) and (max-width: 767px) {

  .top_brand_img {
    display: none;
  }

  .top_brand {
    height: 368px;
  }

  .top_brand_title {
    width: 100%;
    justify-content: center;
  }

  .tb_large {
    font-size: 38px;
  }

  .tb_small {
    font-size: 20px;
  }

  .offers {
    padding: 0 5%;
    gap: 32px;
    margin-bottom: 64px;
  }

  .small_offers {
    flex-direction: column;
    gap: 32px;
  }

  .offer {
    min-height: 248px;
  }

  .offer__accesories {
    min-height: 111px;
  }

  .products {
    margin-bottom: 110px;
  }

  .product_items {
    margin-top: 64px;
    margin-bottom: 55px;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .item {
    max-width: 320px;
    min-height: 540px;
    flex: 1;
  }

  .hover_button {
    top: 40%;
  }

  .add_to_cart_btn {
    gap: 10px;
    padding: 1rem;
  }

  .item_pic {
    object-fit: contain;
    width: 100%
  }

  .spec_item {
    height: 373.328px;
    flex: none;
  }

  .features {
    flex-direction: column;
    height: 610px;
    justify-content: space-evenly;
  }

}